.data-view {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  min-width: 100%;
  border: solid #ffde59 0.25em;
  span.content {    
    width: 100%;
    .child-content {
      display: flex;
      padding-left: 1em;
      justify-content: space-between;
      p {
        margin-right: 1em;
        padding-block: 0.5em;
        max-width: 10em;
        overflow-wrap: break-word;
      }
    }
  }
}

.btn-common-persistents {
  display: inline-flex;
}

.btn-persistent {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: #4190ff;
  min-width: 2em;
  border-left: solid #ffde59 0.25em;
  &:hover {
    background-color: #ffde59;
    color: #000000;
  }
  &:active {
    background-color: #a79e3a;
  }
}

.btn-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 800;
  background-color: #4190ff;
  min-width: 2em;
  /* padding-block: 1rem; */
  border-left: solid #ffde59 0.25em;
  &:hover {
    background-color: #ffde59;
    color: #000000;
  }
  &:active {
    background-color: #a79e3a;
  }
}

data-view-rounded {
  display: flex;
  background-color: #000000;
  color: white;
  border-radius: 15% 0% 15% 0%;
  padding: 0.5em 1em;
  position: relative;
  top: 100%;
  left: 46%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  border-color: #2196f3;
  border-style: solid;
  border-width: 0.4rem;
  .btn-persistent {
    border-radius: 20% 0% 20% 0%;
  }
}

width-max-content {
  width: max-content;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  height: 0;
}

.visible {
  opacity: 1;
  height: auto;
}

.fade:not(.visible) {
  opacity: 0;
  animation: fadeOut 0.3s ease-in-out, height 0.3s ease-in-out;
  height: fit-content;
  > .btn-common-persistents {
    height: fit-content;
  }
}

@import 'src/app/core/styles/animations.scss';
